# Ignore OpenCV libraries
openCV/
OpenCV-android-sdk/

# Android/Gradle specific files
*.iml
.gradle/
local.properties
/.idea/
/*.apk
/.cxx/
/captures/
/outputs/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build directories
/build/
/app/build/


# Ignore IDE and build-related files
.idea/
.gradle/
build/
*.iml

# Ignore Kotlin error logs
VisuBee/.kotlin/errors/

# Ignore temporary files and old backups
*.old
*.bak
*.swp


# Ignore Gradle wrapper binary
gradle/wrapper/gradle-wrapper.jar



# my own ignore repository
to_ignore/