*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore IDE and build-related files
.idea/
.gradle/
build/
*.iml

# Ignore Kotlin error logs
VisuBee/.kotlin/errors/

# Ignore temporary files and old backups
*.old
*.bak
*.swp

